body {
  background-color: #68C7E0;
}
.wrapper {
  background-color: #FFF;
  margin: 0 auto;
}

.section-top {
  background: #66C6E2;
  @media(max-width: 991px) {
    z-index: 3;
    padding-bottom: calc(342/375*100%);;
    padding-top: 0;
    position: relative;

    header {
      position: absolute;
      top: 0;

    }
  }
}

.icon {
  &::before {
    content: "";
    mask: var(--icon) center center/contain no-repeat;
    -webkit-mask: var(--icon) center center/contain no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    transition: 0.25s;
    background: white;
  }
}

header {
  background-image: url("../img/header-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: rem(419);
  position: relative;
  z-index: 101;
  @media(min-width: $tablet) {
    background-position: center bottom;
  }
  @media(max-width: $tablet) {
    height: 100px;
    height: calc(100/375*100vw);;
    background-position: center bottom;
    background-color: transparent !important;
  }
}

.header-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media(max-width: $tablet) {
    padding: 10px 0;
    align-items: center;
  }
}

.header-buy {
  display: flex;
  align-items: center;
  font-size: rem(33);
  padding: rem(12) rem(19);
  border-radius: 0 0 20px 20px;
  background: #006BB5;

  img {
    margin-right: 10px;
  }

  &:hover {
    background: #0b82d5;
  }

  @media(max-width: $tablet) {
    display: none;
  }
}



.hamburger {
  display: none;
  flex-shrink: 0;
  margin-left: 20px;
  @media(max-width: $tablet) {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
  }
}

.line {
  margin: 2px auto;
  width: 20px;
  height: 2px;
  background: white;
  transition: all .5s linear;
}

.languages {
  position: relative;
  font-weight: 500;
  font-size: rem(33);
  @media(max-width: $tablet) {
    z-index: 100;
    font-size: 16px;
    flex-shrink: 0;
  }
}

.head {
  width: 110px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  background: #006BB5;
  line-height: 1;
  transition: .25s;
  cursor: pointer;
  position: relative;

  &:hover {
    background: #0b82d5;
  }

  @media(max-width: $tablet) {
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px 10px 11px;
    position: relative;
  }
}

.is-open {
  .dropdown {
    display: block;
  }

  .head {
    border-radius: 0;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.itm {
  width: 100%;
  text-align: center;
  background: #006BB5;
  padding: 5px;

  &:hover {
    background: #0b82d5;
  }
}

.top-block {
  width: 100%;
  overflow: hidden;
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (max-width: 1200px) {
        padding-top: 40px;
    }
    @media (max-width: 991px) {
      top: calc(170/342*100%);
      padding-top: 0;
      font-weight: 600;
      font-size: calc(15/375*100vw);
      line-height: 113%;
      text-align: center;
      color: #006bb5;
    }
  }

  .header-logo-mobile {
    display: none;
    @media (max-width: 991px) {
      display: block;
      position: absolute;
      top: calc(18/342*100%);
      left: calc(134/375*100%);
      width: calc(131/375*100%);
      height: calc(118/342*100%);
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @media (min-width: 992px) {
    margin-top: rem(-78);
    padding-top: calc(1365/1920*100%);
    background-color: #66C7E2;
    position: relative;
    h1 {
      white-space: nowrap;
      font-weight: 600;
      font-size: 50px;
      top: 0;
      line-height: 114%;
      text-align: center;
      color: #006bb5;

    }

  }
  .prod {
    position: absolute;
    &.prod-1 {
      top: calc(74/1365*100%);
      left: calc(-29/1920*100%);
      width: calc(483/1920*100%);
      height: calc(795/1365*100%);
      @media (max-width: 991px) {
        top: calc(61/342*100%);
        left: calc(-21/375*100%);
        width: calc(98/375*100%);
        height: calc(160/342*100%);
      }

    }
    &.prod-2 {
      top: calc(275/1365*100%);
      left: calc(313/1920*100%);
      width: calc(561/1920*100%);
      height: calc(852/1365*100%);
      @media (max-width: 991px) {
        top: calc(147/342*100%);
        left: calc(18/375*100%);
        width: calc(102/375*100%);
        height: calc(174/342*100%);
      }

    }
    &.prod-3 {
      top: calc((566 - 342)/1365*100%);
      left: calc(793/1920*100%);
      width: calc(704/1920*100%);
      height: calc(710/1365*100%);
      @media (max-width: 991px) {
        top: calc(185/342*100%);
        left: calc(270/375*100%);
        width: calc(133/375*100%);
        height: calc(142/342*100%);
      }
    }
    &.prod-4 {
      top: calc((338 - 342)/1365*100%);
      left: calc(1310/1920*100%);
      width: calc(496/1920*100%);
      height: calc(429/1365*100%);
      @media (max-width: 991px) {
        display: none;
      }
    }
    &.prod-5 {
      top: calc((1118 - 342)/1365*100%);
      left: calc(793/1920*100%);
      width: calc(259/1920*100%);
      height: calc(254/1365*100%);
      @media (max-width: 991px) {
        display: none;
      }

    }
    &.prod-6 {
      top: calc((758 - 342)/1365*100%);
      left: calc(356/1920*100%);
      width: calc(227/1920*100%);
      height: calc(232/1365*100%);
      @media (max-width: 991px) {
        top: calc(105/342*100%);
        left: calc(69/375*100%);
        width: calc(60/375*100%);
        height: calc(59/342*100%);
      }
    }
    &.prod-7 {
      top: calc((967 - 342)/1365*100%);
      left: calc(1181/1920*100%);
      width: calc(480/1920*100%);
      height: calc(555/1365*100%);
      @media (max-width: 991px) {
        top: calc(219/342*100%);
        left: calc(145/375*100%);
        width: calc(91/375*100%);
        height: calc(96/342*100%);
      }
    }
    &.prod-8 {
      top: calc((653 - 342)/1365*100%);
      left: calc(1401/1920*100%);
      width: calc(631/1920*100%);
      height: calc(612/1365*100%);
      @media (max-width: 991px) {
        top: calc(79/342*100%);
        left: calc(265/375*100%);
        width: calc(138/375*100%);
        height: calc(136/342*100%);
      }
    }
  }
  .bubble {
    position: absolute;
    &.bubble-1 {
      top: calc((620 - 342)/1365*100%);
      left: calc(1162/1920*100%);
      width: calc(210/1920*100%);
      height: calc(208/1365*100%);
      @media (max-width: 991px) {
        display: none;
      }

    }
    &.bubble-2 {
      top: calc((739 - 342)/1365*100%);
      left: calc(1827/1920*100%);
      width: calc(135/1920*100%);
      height: calc(135/1365*100%);
      @media (max-width: 991px) {
        top: calc(185/342*100%);
        left: calc(319/375*100%);
        width: calc(37/375*100%);
        height: calc(37/342*100%);
      }
    }
    &.bubble-3 {
      top: calc((475 - 342)/1365*100%);
      left: calc(507/1920*100%);
      width: calc(60/1920*100%);
      height: calc(60/1365*100%);
      @media (max-width: 991px) {
        top: calc(269/342*100%);
        left: calc(265/375*100%);
        width: calc(21/375*100%);
        height: calc(21/342*100%);
      }
    }
    &.bubble-4 {
      top: calc((1205 - 342)/1365*100%);
      left: calc(356/1920*100%);
      width: calc(60/1920*100%);
      height: calc(60/1365*100%);
      @media (max-width: 991px) {
        top: calc(234/342*100%);
        left: calc(7/375*100%);
        width: calc(21/375*100%);
        height: calc(21/342*100%);
      }
    }
    &.bubble-5 {
      top: calc((976 - 342)/1365*100%);
      left: calc(814/1920*100%);
      width: calc(108/1920*100%);
      height: calc(106/1365*100%);
      @media (max-width: 991px) {
        top: calc(50/342*100%);
        left: calc(88/375*100%);
        width: calc(21/375*100%);
        height: calc(21/342*100%);
      }
    }
    &.bubble-6 {
      top: calc((923 - 342)/1365*100%);
      left: calc(265/1920*100%);
      width: calc(108/1920*100%);
      height: calc(106/1365*100%);
      @media (max-width: 991px) {
        display: none;
      }

    }
    &.bubble-7 {
      top: calc((1141 - 342)/1365*100%);
      left: calc(-26/1920*100%);
      width: calc(210/1920*100%);
      height: calc(208/1365*100%);
      @media (max-width: 991px) {
        display: none;
      }

    }
  }
}

h1 {
  font-weight: 600;
  font-size: rem(50);
  line-height: rem(57);
  text-align: center;
  padding-top: 90px;
  color: #006BB5;
  @media(max-width: $tablet) {
    font-size: 30px;
    line-height: 1.2;
    padding-top: 20px;
  }
}

.header-menu {
  margin-top: rem(40);
  @media(max-width: $tablet) {
    background-image: url(../img/header-bg-2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    position: fixed;
    top: 0px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 26.6666666667vw;
      background-image: url(../img/header-bg-2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;

    }
    padding-top: 100px;
    height: 100dvh;
    background-color: #66C6E2;
    margin-top: 0;
    width: 100%;
    transition: all .25s linear;
    right: -100%;
    opacity: 0;
  }
}

.header-menu__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: $tablet) {
    flex-direction: column;
    width: 100%;
  }
}

.header-menu__link {
  color: white;
  border-radius: 10px;
  border: 3px solid #FFF;
  font-size: rem(23);
  padding: rem(7) rem(14);
  font-weight: 600;
  display: flex;
  align-items: center;

  span {
    margin-right: 10px;
  }

  @media(max-width: $tablet) {
    padding: 20px 10px;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    border-radius: 0;
  }

  &:hover {
    border: 3px solid #006BB5;
    color: #006BB5;

    span {
      &:before {
        background: #006BB5;
      }
    }
  }
}

.header-menu__item {
  @media(max-width: $tablet) {
    width: 100%;
  }
}


.header-menu__item-logo {
  transform: translate(rem(40), rem(-20));
  width: rem(255);
  @media(max-width: $tablet) {
    display: none;
  }
}

.bubbles {
  .bg {
    display: none;
  }
}

.about {
  background-image: url("../img/about-brand-3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: rem(1155);
  margin: rem(-24) auto 0;
  color: #006BB5;
  display: flex;
  align-items: center;

  @media(min-width: 992px) {
    z-index: 1;
    position: relative;
    margin-top: calc(-450/1920*100vw);
  }
  @media(min-width: 1600px) {
    margin-top: calc(-300/1920*100vw);
  }
  @media(min-width: 1920px) {
    min-height: calc(1155/1920*100vw);
  }

  @media(max-width: $tablet) {
    display: block;
    height: auto;
    margin-top: -2px;
    background-image: none !important;
    background-color: white;
    padding-bottom: 80px;
    .bubbles {
      position: relative;
      padding-bottom: percentage(math.div(282, 360));
      &:before {
        content: '';
        width: 100%;
        height: 50%;
        top: -10%;
        left: 0;
        position: absolute;
        background-color: #66C6E2;
      }
      .bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }
  }
}

@keyframes animateBubble1 {
  0% {
    transform: rotate(0deg) translateX(200%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(200%) rotate(280deg);
  }
}

@keyframes animateBubble2 {
  0% {
    top: 5%;
    left: 15%;
  }
  25% {
    top: 25%;
    left: 80%
  }
  49% {
    top: 80%;
    left: 60%
  }
  70% {
    top: 25%;
    left: 30%
  }
  100% {
    top: 5%;
    left: 15%
  }
}

@keyframes animateBubble3 {
  0% {
    transform: rotate(360deg) translateX(100%) rotate(150deg);
  }
  100% {
    transform: rotate(0deg) translateX(200%) rotate(0deg);
  }
}

@keyframes animateBubble4 {
  0% {
    top: 5%;
    left: 15%;
  }
  25% {
    top: 25%;
    left: 80%
  }
  49% {
    top: 80%;
    left: 60%
  }
  70% {
    top: 25%;
    left: 30%
  }
  100% {
    top: 5%;
    left: 15%
  }
}

@keyframes animateBubble5 {
  0% {
    bottom: 50%;
    left: 15%;
  }
  25% {
    bottom: 25%;
    left: 80%
  }
  49% {
    bottom: 80%;
    left: 60%
  }
  70% {
    bottom: 25%;
    left: 30%
  }
  100% {
    bottom: 50%;
    left: 15%
  }
}

.about .bubble {
  position: absolute;
  z-index: 100;

  &-1 {
    top: math.percentage(math.div(380, 1155));
    left: math.percentage(math.div(387, 1920));
    width: calc(255 / 1920 * 100vw);
    height: calc(255 / 1920 * 100vw);
    animation: animateBubble1 12s linear infinite;
    @media(max-width: $tablet) {
      width: 56px;
      height: 56px;
    }
  }

  &-2 {
    top: 10%;
    left: 10%;
    width: calc(133 / 1920 * 100vw);
    height: calc(133 / 1920 * 100vw);
    animation: animateBubble2 15s linear infinite;
    @media(max-width: $tablet) {
      width: 29px;
      height: 29px;
    }
  }

  &-3 {
    animation: animateBubble3 18s cubic-bezier(0.2, 0.3, 0.2, 0.3) infinite;
    width: calc(247 / 1920 * 100vw);
    height: calc(247 / 1920 * 100vw);
    bottom: math.percentage(math.div(380, 1155));
    right: math.percentage(math.div(387, 1920));
    @media(max-width: $tablet) {
      width: 55px;
      height: 54px;
    }
  }

  &-4 {
    top: 10%;
    left: 10%;
    width: calc(105 / 1920 * 100vw);
    height: calc(105 / 1920 * 100vw);
    animation: animateBubble3 9s cubic-bezier(0.2, 0.3, 0.2, 0.3) infinite;
    animation-direction: alternate, reverse, normal;
    @media(max-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &-5 {
    left: 15%;
    bottom: 50%;
    width: calc(143 / 1920 * 100vw);
    height: calc(143 / 1920 * 100vw);
    animation: animateBubble3 18s cubic-bezier(0.1, 0.3, 0.4, 0.3) infinite;
    @media(max-width: $tablet) {
      width: 31px;
      height: 31px;
    }
  }
}

.title-65 {
  font-size: rem(65);
  margin-bottom: rem(40);
  @media(max-width: $tablet) {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.about-content {
  max-width: rem(475);
  margin: rem(-20) 0 0 auto;
  font-size: rem(27);
  @media(max-width: $tablet) {
    margin: 0 auto;
    text-align: center;

  }
}

.section-block {
  display: flex;
  margin: 0 auto;
  background: #66C6E2;
  @media(max-width: $tablet) {
    flex-direction: column;
  }
}

.section-content {
  flex-basis: rem(806);
  flex-shrink: 0;
  padding: rem(20) 0 rem(20) rem(85);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  @media (min-width: $tablet) {
    flex-basis: 41.9%;
  }
  @media(max-width: $tablet) {
    text-align: center;
    padding: 20px 10px;
    flex-basis: auto;
    margin-top: 20px;
  }
}


.title-50 {
  color: white;
  font-size: rem(50);
  margin-bottom: rem(30);
  @media(max-width: $tablet) {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
}

.section-pic {
  position: relative;
  z-index: 1;
  min-height: 100%;
  flex: 1 0 0;
  max-width: 60%;
  @media(max-width: $tablet) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#accessories {
  position: relative;
  z-index: 0;
  background: transparent;
  @media(min-width: 1920px) {
    min-height: 30vh;
  }
  @media(min-width: $tablet) {
    margin-top: rem(-159);
    min-height: 638px;
  }
  &:before {
    content: '';
    background-image: url("../img/top-white.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 163px;
    min-height: calc(163/1920*100vw);
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 11;

    @media(max-width: $tablet) {
      display: none;
    }
  }


  .section-content {
    position: static;
    background-color: #68C7E0;
    @media(min-width: $tablet) {
      padding-top: rem(120);
      padding-bottom: rem(80);
    }
    @media(max-width: $tablet) {
      margin-top: 0;
    }
  }
}

.section-content__block {
  max-width: rem(472);
  @media(max-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    br {
      display: none;
    }
  }
}

.slider-container {
  padding: rem(123) 0 rem(123);
  @media screen and (max-width: 1550px) and (min-width: 1500px) {
    margin: 0 100px;
  }
  @media(max-width: $tablet) {
    padding: 40px 0;
  }
}

.swiper-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  @media(max-width: 1400px) {
    margin: 0 50px;
  }
  @media(max-width: 1200px) {
    margin: 0 60px;
  }
}

.swiper-slide {
  padding: rem(32) rem(22) rem(22);
  border-radius: 30px;
  background: #E7F5F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #494949;
  line-height: rem(23);
  font-size: rem(19);
}

.swiper-slide__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(23);
  width: 100%;

  img {
    max-height: 100%;
  }
}

.swiper-slider {
  display: flex;
  align-items: center;
}

.swiper-arrow {
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  width: rem(50);
  height: rem(50);
  margin-top: rem(-25);
  transition: .25s;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.swiper-arrow-left {
  left: rem(-75);

}

.swiper-arrow-right {
  right: rem(-75);

}

.section-block-bg {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background-image: url("../img/bg-content.png");
    background-repeat: no-repeat;
    background-position: right;
    width: rem(461);
    height: rem(600);
    min-height: 100%;
    position: absolute;
    right: 0;
    background-size: cover;
    @media(max-width: $tablet) {
      display: none;
      bottom: 0;
      background-position: bottom;
      right: -100px;
    }
  }
}

footer {
  margin: 0 auto;
  background-color: #66C6E2;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: rem(280);
  display: flex;

  margin: 0 auto;
  font-size: rem(19);
  line-height: rem(23);
  align-items: center;
  @media(max-width: $tablet) {
    height: auto;
    background-image: none !important;
    background-position: bottom;
  }
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media(max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo {
  transform: translate(rem(27), rem(-32));
  width: rem(183);
  @media(max-width: $tablet) {
    order: 1;
    transform: translate(0);
    margin-right: -20px;
  }
}

.footer-buy {
  display: flex;
  align-items: center;
  font-size: rem(29);
  line-height: rem(21);
  padding: rem(10) rem(16) rem(14);
  border-radius: 15px;
  background: #006BB5;
  margin-top: 10px;

  img {
    margin-right: 10px;
    width: rem(45);
    margin-bottom: -3px;
  }

  &:hover {
    background: #0b82d5;
  }

  @media(max-width: $tablet) {
    order: 2;
    margin-top: 30px;
  }
}

.footer-copy {
  @media(max-width: $tablet) {
    order: 3;
    text-align: center;
    margin: 20px 0 30px;
  }
}

.footer-politic {
  text-align: center;
  @media(max-width: $tablet) {
    padding-bottom: 20px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.fancybox {
  &__viewport {
    background-color: #FFF;

  }

  &__toolbar .f-button {
    &[title=Close] {
      color: #000 !important;
      background-color: transparent !important;
    }
  }

  &__nav {
    .f-button {
      color: #000 !important;

      svg {
        filter: none !important;
      }
    }
  }
}

